In [31]:
import pandas as pd
import numpy as np

In [32]:
pd.__version__

'2.3.2'

In [4]:
! wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv

--2025-10-01 21:52:11--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 874188 (854K) [text/plain]
Saving to: ‘car_fuel_efficiency.csv’

car_fuel_efficiency 100%[===================>] 853.70K  3.21MB/s    in 0.3s

2025-10-01 21:52:11 (3.21 MB/s) - ‘car_fuel_efficiency.csv’ saved [874188/874188]

In [33]:
df = pd.read_csv("car_fuel_efficiency.csv")

In [34]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [35]:
df.shape

(9704, 11)

In [36]:
df['fuel_type'].unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [37]:
df['fuel_type'].nunique()

2

In [38]:
missing_per_column = df.isnull().sum()
cols_with_missing = missing_per_column[missing_per_column > 0]
len(cols_with_missing)

4

In [39]:
asia_cars = df[df['origin'] == 'Asia']
max_efficiency = asia_cars['fuel_efficiency_mpg'].max()
print(max_efficiency)

23.759122836520497

In [40]:
# 1. Median horsepower before filling missing values
median_before = df['horsepower'].median()
print(median_before)

149.0

In [41]:
# 2. Most frequent (mode) value of horsepower
most_frequent = df['horsepower'].mode()[0]
print(most_frequent)

152.0

In [42]:
# 3. Fill missing values with the most frequent value
df['horsepower'] = df['horsepower'].fillna(most_frequent)

# 4. Median horsepower after filling
median_after = df['horsepower'].median()
print(median_after)

152.0

In [43]:
# 1. Select all cars from Asia
asia_cars = df[df['origin'] == 'Asia']

# 2. Select only vehicle_weight and model_year
asia_subset = asia_cars[['vehicle_weight', 'model_year']]

# 3. Take first 7 values
asia_first7 = asia_subset.head(7)

# 4. Get NumPy array X
X = asia_first7.to_numpy()

# 5. Compute XTX
XTX = X.T.dot(X)

# 6. Invert XTX
XTX_inv = np.linalg.inv(XTX)

# 7. Create array y
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# 8. Compute w = (XTX_inv @ X.T) @ y
w = XTX_inv.dot(X.T).dot(y)

# 9. Sum of all elements in w
result = w.sum()
print("Sum of elements in w:", result)

Sum of elements in w: 0.5187709081074007